$bodyBackgroundColor: #f2f2f2;
$headerBackgroundColor: #003380;
$headerTextColor: $bodyBackgroundColor;
$headerLinkHoverColor: #abcdef;
$submitButtonBackgroundColor: $headerBackgroundColor;
$submitButtonColor: $headerTextColor;
$linkColor: #003399;
$linkColorHover: #80aaff;

form#toggleAdminForm, form#removeMemberForm {
    display: inline;
}

/**
 * Main Styles
 */
body {
    font-family: 'Cuprum', sans-serif;
    background-color: $bodyBackgroundColor;
}

h2 {
    font-size: 1.6em;
}

div#wrapper {
    min-width: 320px;
    max-width: 940px;
    margin: 0 auto;
}

section {
    a {
        color: $linkColor;
    }
    
    a:hover {
        color: $linkColorHover;
    }
    margin: 2.5%;
}

footer {
    text-align: center;
}


/**
 * Navigation Styles
 */
header {
    h1 {
        a {
            text-decoration: none;
            color: $headerTextColor;
            font-weight: bold;
        }
        a:hover {
            color: $headerLinkHoverColor;
        }
        margin: 0;
        padding: 10px;
    }
    div#heading {
        border-bottom: solid 2px;
    }

    p#headerGreeting {
        display: none;
    }

    nav  {
        ul {
            li {
                a {
                    display: block;
                    text-decoration: none;
                    color: $headerTextColor;
                    padding: 10px;
                    font-weight: bold;
                }
                a:hover {
                    color: $headerLinkHoverColor;
                }
                list-style-type: none;
            }
            padding: 0;
            margin: 0;
        }
    }
    color: $headerTextColor;
    background-color: $headerBackgroundColor;
    margin: 1%;
}

/**
 * Login Page Styles
 */
form#loginForm {
    label {
        display: block;
        text-align: left;
        font-weight: bold;
    }

    input[type="text"], input[type="password"] {
        padding: 0 1%;
        width: 97%;
        border-radius: 2.5px;
        margin-left: 1%;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        margin-top: 10px;
        padding: 1.5% 5%;
        border-radius: 10px;
        background-color: $submitButtonBackgroundColor;
        color: $submitButtonColor;
        font-weight: bold;
    }

    input:focus {
        border: solid;
    }
}

/**
 * Register Page Styles
 */
form#registerForm {
    @extend #loginForm;

    textarea {
        @extend input[type="text"];
        height: 100px;
    }

    textarea:focus {
        @extend input:focus;
    }

    input[type="file"] {
        @extend input[type="text"];
        width: initial;
        margin-bottom: 10px;
    }

    fieldset {
        margin-bottom: 10px;
    }

    span.requiredField {
        color: red;
    }
}

/**
 * Main Page Styles
 */
section#homePageSection {
    h3 {
        text-decoration: underline;
    }

    section#notifications {
        ul {
            li {
                list-style-type: none;
                margin-bottom: 5px;
            }
            padding: 0;
            margin: 0;
        }

        form#clearNotificationsForm {
            margin-bottom: 10px;
        }        

        form.deleteNotificationForm {
            span.notificationText {
                display: inline-block;
                margin-left: 1.5%;
            }
            button {
                border: none;
                color: red;
                background-color: $bodyBackgroundColor;
            }
        }
    }
}


/**
 * Account Page Styles
 */
section#accountSection {
    ul {
        li {
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.1em;
            }

            margin-bottom: 10px;
        }
        list-style-type: none;
    }
}
