$bodyBackgroundColor: #f2f2f2;
$headerBackgroundColor: #003380;
$headerTextColor: $bodyBackgroundColor;
$headerLinkHoverColor: #abcdef;
$submitButtonBackgroundColor: $headerBackgroundColor;
$submitButtonColor: $headerTextColor;
$linkColor: #003399;
$linkColorHover: #80aaff;

form#toggleAdminForm, form#removeMemberForm {
    display: inline;
}

/**
 * Main Styles
 */
body {
    font-family: 'Cuprum', sans-serif;
    background-color: $bodyBackgroundColor;
}

h2 {
    font-size: 1.6em;
}

div#wrapper {
    min-width: 320px;
    max-width: 940px;
    margin: 0 auto;
}

section {
    a {
        color: $linkColor;
    }
    
    a:hover {
        color: $linkColorHover;
    }
    margin: 2.5%;
}

footer {
    text-align: center;
}

p#greeting {
    margin: 2.5%;
    text-align: right;
}


/**
 * Navigation Styles
 */
header {
    h1 {
        a {
            text-decoration: none;
            color: $headerTextColor;
            font-weight: bold;
        }
        a:hover {
            color: $headerLinkHoverColor;
        }
        margin: 0;
        padding: 10px;
        border-bottom: solid 2px;
    }

    nav  {
        ul {
            li {
                a {
                    display: block;
                    text-decoration: none;
                    color: $headerTextColor;
                    padding: 10px;
                    font-weight: bold;
                }
                a:hover {
                    color: $headerLinkHoverColor;
                }
                list-style-type: none;
            }
            padding: 0;
            margin: 0;
        }
    }
    color: $headerTextColor;
    background-color: $headerBackgroundColor;
    margin: 1%;
}

/**
 * Login Page Styles
 */
form#loginForm {
    label {
        display: block;
        text-align: left;
        font-weight: bold;
    }

    input[type="text"], input[type="password"] {
        padding: 0 1%;
        width: 97%;
        border-radius: 2.5px;
        margin-left: 1%;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        margin-top: 10px;
        padding: 1.5% 5%;
        border-radius: 10px;
        background-color: $submitButtonBackgroundColor;
        color: $submitButtonColor;
        font-weight: bold;
    }

    input:focus {
        border: solid;
    }

    input[type="submit"]:focus {
        border: solid 5px #000;
    }

    div#submitButtons {
        text-align: center;
    }
}

/**
 * Register Page Styles
 */
form#registerForm {
    @extend #loginForm;

    textarea {
        @extend input[type="text"];
        height: 100px;
    }

    textarea:focus {
        @extend input:focus;
    }

    input[type="file"] {
        @extend input[type="text"];
        width: initial;
        margin-bottom: 10px;
    }

    fieldset {
        margin-bottom: 10px;
    }

    span.requiredField {
        color: red;
    }
}

/**
 * Main Page Styles
 */
section#homePageSection {
    h3 {
        text-decoration: underline;
    }

    section#notifications {
        ul {
            li {
                list-style-type: none;
                margin-bottom: 5px;
            }
            padding: 0;
            margin: 0;
        }

        form#clearNotificationsForm {
            margin-bottom: 10px;
        }        

        form.deleteNotificationForm {
            span.notificationText {
                display: inline-block;
                margin-left: 1.5%;
            }
            button {
                border: none;
                color: red;
                background-color: $bodyBackgroundColor;
            }
        }
    }
}


/**
 * Account Page Styles
 */
section#accountSection {
    ul {
        li {
            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 1.1em;
            }

            margin-bottom: 10px;
        }
        list-style-type: none;
    }
}


/**
 * Profile Page Styles
 */
section#profileSection {
    p {
        text-align: center;
        margin-bottom: 3%;
    }

    a {
        text-decoration: none;
    }

    span.profileHeading {
        display: block;
        font-weight: bold;
    }

    span.profileContent {
        display: inline-block;
        margin-left: 5%;
        max-width: 90%;
        word-wrap: break-word;
    }

    ul {
        li {
            margin-bottom: 10px;
            margin-left: 10px;
        }
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}


/**
 * Update Profile Page Styles
 */
form#updateProfileForm {
    @extend #registerForm;
    img {
        display: block;
        margin: 20px auto;
        width: 200px;
    }


    label#removePhotoLabel {
        display: inline-block;
        margin-bottom: 10px;
    }

    input[type="checkbox"] {
        margin-left: 2%;
    }

    button {
        @extend input[type="submit"];
    }

    button:focus {
        border: solid 5px #000;
    }

}

/**
 * Change Password Page Styles
 */
form#changePasswordForm {
    @extend #updateProfileForm;
}


/**
 * Projects Page Styles
 */
section#projectsPage {
    a {
        text-decoration: none;
        font-weight: bold;
    }

    p#addProject {
        text-decoration: underline;
    }

    p, ul {
        margin: 2.5%;
    }

    ul {
        list-style-type: none;
    }
}

/**
 * All Projects Page Styles
 */
section#allProjectsSection {
    form#searchProjectsForm {
        label {
            display: inline-block;
            width: 100px;
        }
        input {
            width: 50%;
        }
        div#searchButtonsDiv {
            margin: 2%;
        }
    }
    
    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    div#paginationDiv {
        form#pageSelectForm {
            font-size: 1.2em;
        }
        text-align: center;
        margin-top: 5%;
    }
}

/**
 * Add Project Page Styles
 */
form#addProjectForm {
    @extend #updateProfileForm;
}


/**
 * Project Page Styles
 */
section#projectSection {
    h2 {
        word-wrap: break-word;
        font-size: 1.2em;
    }
    h3 {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    a#projectActionsLink {
        font-weight: bold;
        font-size: 1.2em;
    }

    ul {
        list-style-type: none;
        margin-left: 1%;
        padding: 0;
    }

    ul#selectViewList {
        font-size: 1.2em;
        padding-top: 0;
        margin-top: 0;
    }

    span#projectActionsHeading {
        display: none;
    }

    ul#projectSummaryList {
        span.summaryHeading {
            display: inline-block;
            width: 120px;
        }
        
    }
}

/**
 * View Log Entries Page Styles
 */
section#viewLogsSection {
    form#filterResultsForm, form#paginationForm {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    table#smallResultsTable {
        td, th {
            border: solid 1px;
            text-align: left;
            padding: 5px;
        }

        td {
            word-wrap: break-word;
        }

        th {
            width: 25%;
        }

        td.editLogButton {
            border: none;
        }

        tr.emptyRow {
            td {
                border: none;
                height: 20px;
            }
        }
        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
    }

    table#bigResultsTable {
        display: none;

        tr:nth-child(even) td {
            background-color: #ffff66;
        }

        td, th {
            text-align: left;
            padding: 5px;
        }

        th {
            text-decoration: underline;
        }

        td {
            word-wrap: break-word;
            vertical-align: top;
        }


        .date {
            width: 15%;
        }
        .time {
            width: 20%;
        }
        .username {
            width: 20%;
        }
        .edit {
            width: 10%;
        }

        margin: 0 auto;
        width: 100%;
        table-layout: fixed;
        text-align: center;
    }

    margin: 0;
}

/**
 * View Project Members Page Styles
 */
section#viewProjectMembersSection {
    span.memberUsername {
        display: block;
    }

    div.adminButtons {
        margin-left: 20px;
    }

    margin: 0;
}

/**
 * Add/Edit Log Entry Page Styles
 */
section#addEditLogSection {
    h3 {
        margin-bottom: 20px;
    }

    div#submitButtons {
        margin-bottom: 20px;
    }
    
    form#addLogForm, form#editLogForm, form#deleteLogForm {
        @extend #updateProfileForm;

        input[type="number"] {
            @extend input[type="text"];
        }

    }
    margin: 0;
}


/**
 * Project Actions Page Styles
 */
section#projectActionsSection {
    ul#selectProjectActionList {
        @extend #selectViewList;
    }
    margin-left: 0;
}


/**
 * Rename Project Styles
 */
form#renameProjectForm {
    @extend #updateProfileForm;
}
