@media screen and (min-width:500px) {
    /**
     * Navigation styles
     */
    header {
        h1 { 
            font-size: 2.5em;
            display: inline-block;
            border: none;
        }

        p#headerGreeting {
            display: inline-block;
            float: right;
            padding-bottom: 5%;
            padding-right: 2.5%;
        }
        nav {
            clear: both;
            ul {
                li {
                    display: inline-block;
                    font-size: 1.6em;
                }
            }

        }
    }

    /**
     * Login Page Styles
     */
    form#loginForm {
        label {
            display: inline-block;
            width: 100px;
        }

        input[type="text"], input[type="password"] {
            width: 40%;
        }
        input[type="submit"] {
        }

        text-align: center;
    }

    /**
     * Register Page Styles
     */
    form#registerForm {
        @extend #loginForm;

        input[type="file"] {
            width: 40%;
        }

        textarea {
            @extend input[type="text"];
        }

        label {
            vertical-align: top;
        }
    }
}

@media screen and (min-width: 660px) {
    /**
     * Navigation Styles
     */
    header {
        h1 {
            border: none;
            display: inline-block; 
            float: left; 
            position: absolute;
            bottom: 0;
        }
        nav {
            ul {
                li {
                }
                float: right;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        overflow: auto;
        position: relative;
    }
}
