@media screen and (min-width:550px) {
    /**
     * Navigation styles
     */
    header {
        h1 { 
            font-size: 2.5em;
        }

        nav {
            clear: both;
            ul {
                li {
                    display: inline-block;
                    font-size: 1.6em;
                }
            }
        }
    }

    /**
     * Login Page Styles
     */
    form#loginForm {
        label {
            display: inline-block;
            width: 200px;
            text-align: right;
        }

        input[type="text"], input[type="password"] {
            width: 55%;
        }
    }

    /**
     * Register Page Styles
     */
    form#registerForm {
        @extend #loginForm;

        input[type="file"] {
            width: 55%;
        }

        textarea {
            @extend input[type="text"];
        }

        label {
            vertical-align: top;
        }
    }

    /**
     * Main Page Styles
     */
    section#homePageSection {
        ul#notificationsList {
            li {
                margin-left: 20px;
            }
        }
    }

    /**
     * Profile Page Styles
     */
    section#profileSection {
        span.profileHeading {
            display: inline-block;
            width: 100px;
            vertical-align: top;
        }

        span.profileContent {
            margin-left: 1%;
            max-width: 70%;
        }

        ul#projectsList {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    /**
     * Update Profile Page Styles
     */
    form#updateProfileForm {
        @extend #registerForm;

        label {
            display: inline-block;
            width: 150px;
        }
    }

    /**
     * Change Password Page Styles
     */
    form#changePasswordForm {
        @extend #registerForm;
    }

    /**
     * Projects Page Styles
     */
    section#projectsPage {
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    /**
     * All Projects Page Styles
     */
    section#allProjectsSection {
        form#searchProjectsForm {
            input {
                width: 40%;
            }
            div#searchButtonsDiv {
                margin: 0;
                display: inline;
            }
            
        }
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    /**
     * Add Project Page Styles
     */
    form#addProjectForm {
        @extend #loginForm;
    }

    /**
     * Project Page Styles
     */
    section#projectSection {
       h3#viewHeading {
           display: inline-block;
           margin-top: 10px;
       }

       ul#selectViewList, ul#selectProjectActionList {
           li {
               display: inline-block;
               width: 150px;
               vertical-align: top;
           }
           margin-top: 10px;
       }


       p#projectActionsParagraph {
           display: none;
       }

       h2 {
           font-size: 1.2em;
       }
       span#projectActionsHeading {
           display: initial;
       }
    }

    /**
     * View Project Members Page Styles
     */
    section#viewProjectMembersSection {
        span.memberUsername {
            display: inline-block;
            width: 200px;
            margin-bottom: 10px;
        }

        div.adminButtons {
            display: inline;
        }

        margin: 0;
    }

    /**
     * Confirm Remove Member Page Styles
     */
    form#confirmRemoveMember {
        p {
            text-align: center;
        }
    }

    /**
     * Add/Edit Log Entry Page Styles
     */
    section#addEditLogSection {
        form#addLogForm, form#editLogForm, form#deleteLogForm {
            @extend #registerForm;

            label#stopWatchLabel {
                margin-bottom: 10px;
            }
            label#timeElapsedLabel {
                display: block;
                text-align: center;
                width: 100%;
            }

            input[type="range"] {
                width: 35%;
                float: none;
            }
            input[type="number"] {
                width: 15%;
                float: none;
                margin-left: 2.5%;
                vertical-align: top;
            }

        }
    }

    
    /**
     * Rename Project Page Styles
     */
    form#renameProjectForm {
        @extend #registerForm;
    }


    /**
     * Add User To Project Page Styles
     */
    form#addUserForm {
        @extend #registerForm;
    }
}

@media screen and (min-width: 768px) {
    /**
     * Navigation Styles
     */
    header {
        h1 {
            display: inline-block;
            border: none;
        }
        nav {
            ul {
                margin-top: 2.5%;
                float: right;
            }
        }
        display: block;
        overflow: auto;
    }

    /**
     * Profile Page Styles
     */
    section#profileSection {
        ul#projectsList {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

    /**
     * Update Profile Page Styles
     */
    form#updateProfileForm {
        div#photoDiv {
            margin-left: 5%;
            float: left;
        }

        div#editPhotoDiv {
            label{
                text-align: left;
            }

            margin-left: 2%;
            display: inline-block;
            margin-top: 5%;
        }

        div#editProfileDiv {
            clear: both;
        }
    }

    /**
     * Projects Page Styles
     */
    section#projectsPage {
        ul {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

    /**
     * All Projects Page Styles
     */
    section#allProjectsSection {
        form#searchProjectsForm {
            input {
                width: 25%;
            }
        }
        ul {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

    /**
     * Project Page Styles
     */
    section#projectSection {
        ul#projectSummaryList {
            display: inline-block;
            float: right;
            width: 40%;
            margin: 0; padding: 0;
        }

        div#viewSelect{ 
            li {
                width: 140px;
            }
            float: left;
            width: 60%;
            margin: 0; padding: 0;
        }

        div#displayContent {
            clear: both;
            margin-top: 2%;
        }
    }

    /**
     * View Log Entries Page Styles
     */
    section#viewLogsSection {
        table#smallResultsTable {
            display: none;
        }
        table#bigResultsTable {
            display: table;
        }
    }
}

@media screen and (min-width: 900px) {

    /**
     * Update profile page styles
     */
    form#updateProfileForm {
        img {
            width: 300px;
        }
    }


    /**
     * All Projects Page Styles
     */
    section#allProjectsSection {
        form#searchProjectsForm {
            input {
                width: 20%;
            }
        }
    }
}
