{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<section id="accountSection">
    <h2>Account</h2>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
    <ul>
        <li><a href="{{ path_for('modifyProfile') }}">Update Profile</a></li>
        <li><a href="{{ path_for('changePassword') }}">Change Password</a></li>
    </ul>
</section>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ path_for('home') ~ "js/dismissMessages.js"  }}"></script>
{% endblock %}
