{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<h2>Add project</h2>
<section id="addProjectSection">
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
    <form id="addProjectForm" action="{{ path_for('processAddProject') }}" method="post">
        <fieldset>
            <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="projectName"><br>
        </fieldset>
        <div id="submitButtons">
            <input type="submit" value="Create">
        </div>
    </form>
</section>
{% endblock %}
