{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<h2>Add project</h2>
{{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
<form action="{{ path_for('processAddProject') }}" method="post">
    <label for="projectName">Project Name:</label><br>
    <input type="text" id="projectName" name="projectName"><br>
    <input type="submit" value="Create">
</form>
<p><a>Return</a></p>
{% endblock %}
