{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<section id="addProjectSection">
    <h2>Add project</h2>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
    <form id="addProjectForm" action="{{ path_for('processAddProject') }}" method="post">
        <p id="info">
            * Project name must be between 6 and 20 characters<br>
            * Project name must contain only letters and numbers
        </p>
        <fieldset>
            <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="projectName" maxlength="20"{% if postData.projectName %} value="{{postData.projectName }}"{% endif %} required><br>
        </fieldset>
        <div id="submitButtons">
            <button type="submit" name="action" value="create">Create</button>
            <button type="submit" name="action" value="cancel" formnovalidate>Cancel</button>
        </div>
    </form>
</section>
{% endblock %}

