{% extends 'layout.twig' %}
{% block content %}
<h2>Change Password</h2>

{% for message in flash.message("fail") %}
    <p>{{ message}}</p>
{% endfor %}
{% for message in flash.message("success") %}
    <p>{{ message}}</p>
{% endfor %}
<form action="{{ path_for('processChangePassword') }}" method="post">
    <label for="currentPassword">Current Password:</label><br>
    <input type="password" id="currentPassword" name="currentPassword"><br>
    <label for="newPassword">New Password:</label><br>
    <input type="password" id="newPassword" name="newPassword"><br>
    <label for="newPassword2">Confirm New Password:</label><br>
    <input type="password" id="newPassword2" name="newPassword2"><br>

    <input type="submit" value="Save">
</form>

{% endblock %}
