{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<h2>Change Password</h2>
{{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
<form action="{{ path_for('processChangePassword') }}" method="post">
    <label for="currentPassword">Current Password:</label><br>
    <input type="password" id="currentPassword" name="currentPassword"><br>
    <label for="newPassword">New Password:</label><br>
    <input type="password" id="newPassword" name="newPassword"><br>
    <label for="newPassword2">Confirm New Password:</label><br>
    <input type="password" id="newPassword2" name="newPassword2"><br>

    <input type="submit" value="Save">
</form>

{% endblock %}
