<section id="projectActionsSection">
    <h3>Project Actions</h3>
    <ul id="selectProjectActionList">
    {%if isOwner or isAdmin %}
        <li><a href="{{ path_for('renameProject', {'name': project.projectName}) }}">Rename Project</a></li>
    {% endif %}

    {% if isOwner %}
        <li><a href="{{ path_for('transferOwnership', {'name': project.projectName}) }}">Transfer Project Ownership</a></li>
        <li><a href="{{ path_for('confirmDeleteProject', {'name':project.projectName}) }}">Delete Project</a></li>
    {% endif %}

    {% if not isOwner %}
        <li><a href="{{ path_for('confirmLeaveProject', {'name':project.projectName, 'username':user.username }) }}">Leave Project</a></li>
    {% endif %}
    </ul>
</section>
