<section id="confirmTransferOwnershipSection">
    <h2>Confirm Transfer Ownership</h2>
    <form id="confirmTransferOwnershipForm" action="{{ path_for('processTransferOwnership', {'name':project.projectName, 'newOwner': owner.username}) }}" method="post">
        <fieldset>
            <p>Are you sure you want to transfer ownership of project {{ project.projectName }} to {{ owner.username }}?</p>
        </fieldset>
        <div id="submitButtons">
            <button type="submit" name="action" value="yes">Yes</button>
            <button type="submit" name="action" value="no">No</button>
        </div>
    </form>
</section>
