<h2>Project Actions</h2>
{% if isOwner %}
    <li>Rename Project</li>
    <li>Transfer project ownership</li>
    <li>Delete Project</li>
{% else %}
<ul>
    <li><a href="{{ path_for('confirmLeaveProject', {'name':project.projectName, 'username':user.username }) }}">Leave Project</a></li>
</ul>
{% endif %}

<p>Return to project</p>
