<h2>Confirm Remove Member:</h2>
<form>
<p>Are you sure you want to remove {{ projectMember.username }} from project {{ project.projectName  }}?</p>
<input type="submit" name="confirm" value="Yes">
<input type="submit" name="cancel" value="No">
</form>
