<section id="deleteProjectSection">
    <h2>Delete Project</h2>
    <form id="deleteProjectForm" action="{{ path_for('processDeleteProject', {'name': project.projectName}) }}" method="post">
    <fieldset>
        <p>Are you sure you want to delete this project?</p>
        <p id="warning">WARNING: This will delete the project along with all log entries.  This action cannot be undone.</p>
    </fieldset>

    <div id="submitButtons">
        <button type="submit" name="action" value="yes">Yes</button>
        <button type="submit" name="action" value="no">No</button>
    </div>
    </form>
</section>
