<section id="leaveProjectSection">
    <h2>Leave Project</h2>

    <form id="leaveProjectForm" action="{{ path_for('processLeaveProject', {'name':project.projectName, 'username': user.username}) }}" method="post">
        <fieldset>
            <p>Are you sure you want to leave project {{ project.projectName }}?</p>
        </fieldset>

        <div id="submitButtons">
            <button type="submit" name="action" value="yes">Yes</button>
            <button type="submit" name="action" value="no">No</button>
        </div>
    </form>
</section>
