{% extends 'layout.twig' %}

{% block content %}
    <p>Home Page</p>
    {% for message in flash.message("fail") %}
        <p>{{ message}}</p>
    {% endfor %}
    {% for message in flash.message("success") %}
        <p>{{ message}}</p>
    {% endfor %}
{% endblock %}
