<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Logs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Project Logs</h1>
   {% block content %}
   {% endblock %}

    <footer>
        <p>&copy;{{ "now"|date("Y") }} Hanley Chan</p>
    </footer>
   {% block scripts %}
   {% endblock %}
</body>
</html>
