{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
    
    <p>Login Page</p>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
    <form action="{{ path_for("processLogin") }}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <input type="submit" value="Login">
    </form>
{% endblock %}
