{% extends 'layout.twig' %}

{% block content %}
   <p>Login Page</p>
    {% for message in flash.message("fail") %}
        <p>{{ message}}</p>
    {% endfor %}
    {% for message in flash.message("success") %}
        <p>{{ message}}</p>
    {% endfor %}
    <form action="{{ path_for("processLogin") }}" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="password">Passowrd:</label><br>
        <input type="password" id="password" name="password"><br>

        <input type="submit" value="Login">
    </form>
{% endblock %}
