{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
    <section id="loginSection"> 
        <h2>Log in here:</h2>
        {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}
        <form id="loginForm" action="{{ path_for("processLogin") }}" method="post">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" maxlength="20"><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br>
            </fieldset>
            <div id="submitButtons">
                <input type="submit" value="Login">
            </div>
        </form>
    </section>
{% endblock %}
