{% macro displayFlashMessages(failMsgs, successMsgs) %}
    <div id="flashMessages">
    {% for message in failMsgs %}
        <div class="flashMessageContainer">
            <p class="failMessage"><span class="msg">{{ message}}</span><span class="dismiss"><button class="dismissButton">x</button></span></p><br>
        </div>
    {% endfor %}
    {% for message in successMsgs %}
        <div class="flashMessageContainer">
            <p class="successMessage"><span class="msg">{{ message}}</span><span class="dismiss"><button class="dismissButton">x</button></span></p><br>
        </div>
    {% endfor %}
    </div>
{% endmacro %}

