{% macro displayFlashMessages(failMsgs, successMsgs) %}
    <div id="flashMessages">
    {% for message in failMsgs %}
        <p class="failMessage"><span class="msg">{{ message}}</span><span class="dismiss"><button>x</button></span></p>
    {% endfor %}
    {% for message in successMsgs %}
        <p class="successMessage"><span class="msg">{{ message}}</span><span class="dismiss"><button>x</button></span></p>
    {% endfor %}
    </div>
{% endmacro %}

