form#toggleAdminForm, form#removeMemberForm {
  display: inline; }

/**
 * Main Styles
 */
body {
  font-family: 'Cuprum', sans-serif;
  background-color: #f2f2f2; }

h2 {
  font-size: 1.6em; }

div#wrapper {
  min-width: 320px;
  max-width: 940px;
  margin: 0 auto; }

section {
  margin: 2.5%; }
  section a {
    color: #003399; }
  section a:hover {
    color: #80aaff; }

footer {
  text-align: center; }

p#greeting {
  margin: 2.5%;
  text-align: right; }

/**
 * Navigation Styles
 */
header {
  color: #f2f2f2;
  background-color: #003380;
  margin: 1%; }
  header h1 {
    margin: 0;
    padding: 10px;
    border-bottom: solid 2px; }
    header h1 a {
      text-decoration: none;
      color: #f2f2f2;
      font-weight: bold; }
    header h1 a:hover {
      color: #abcdef; }
  header nav ul {
    padding: 0;
    margin: 0; }
    header nav ul li {
      list-style-type: none; }
      header nav ul li a {
        display: block;
        text-decoration: none;
        color: #f2f2f2;
        padding: 10px;
        font-weight: bold; }
      header nav ul li a:hover {
        color: #abcdef; }

/**
 * Login Page Styles
 */
form#loginForm label, form#registerForm label, form#updateProfileForm label, form#changePasswordForm label, form#addProjectForm label {
  display: block;
  text-align: left;
  font-weight: bold; }
form#loginForm input[type="text"], form#registerForm input[type="text"], form#updateProfileForm input[type="text"], form#changePasswordForm input[type="text"], form#addProjectForm input[type="text"], form#registerForm textarea, form#updateProfileForm textarea, form#changePasswordForm textarea, form#registerForm input[type="file"], form#updateProfileForm input[type="file"], form#changePasswordForm input[type="file"], form#loginForm input[type="password"], form#registerForm input[type="password"], form#updateProfileForm input[type="password"], form#changePasswordForm input[type="password"], form#addProjectForm input[type="password"] {
  padding: 0 1%;
  width: 97%;
  border-radius: 2.5px;
  margin-left: 1%;
  margin-bottom: 10px; }
form#loginForm input[type="submit"], form#registerForm input[type="submit"], form#updateProfileForm input[type="submit"], form#changePasswordForm input[type="submit"], form#addProjectForm input[type="submit"], form#updateProfileForm button {
  margin-top: 10px;
  padding: 1.5% 5%;
  border-radius: 10px;
  background-color: #003380;
  color: #f2f2f2;
  font-weight: bold; }
form#loginForm input:focus, form#registerForm input:focus, form#updateProfileForm input:focus, form#changePasswordForm input:focus, form#addProjectForm input:focus, form#registerForm textarea:focus, form#updateProfileForm textarea:focus, form#changePasswordForm textarea:focus {
  border: solid; }
form#loginForm input[type="submit"]:focus, form#registerForm input[type="submit"]:focus, form#updateProfileForm input[type="submit"]:focus, form#changePasswordForm input[type="submit"]:focus, form#addProjectForm input[type="submit"]:focus, form#registerForm textarea[type="submit"]:focus, form#updateProfileForm textarea[type="submit"]:focus, form#changePasswordForm textarea[type="submit"]:focus, form#updateProfileForm button:focus {
  border: solid 5px #000; }
form#loginForm div#submitButtons, form#registerForm div#submitButtons, form#updateProfileForm div#submitButtons, form#changePasswordForm div#submitButtons, form#addProjectForm div#submitButtons {
  text-align: center; }

/**
 * Register Page Styles
 */
form#registerForm textarea, form#updateProfileForm textarea, form#changePasswordForm textarea {
  height: 100px; }
form#registerForm input[type="file"], form#updateProfileForm input[type="file"], form#changePasswordForm input[type="file"] {
  width: initial;
  margin-bottom: 10px; }
form#registerForm fieldset, form#updateProfileForm fieldset, form#changePasswordForm fieldset {
  margin-bottom: 10px; }
form#registerForm span.requiredField, form#updateProfileForm span.requiredField, form#changePasswordForm span.requiredField {
  color: red; }

/**
 * Main Page Styles
 */
section#homePageSection h3 {
  text-decoration: underline; }
section#homePageSection section#notifications ul {
  padding: 0;
  margin: 0; }
  section#homePageSection section#notifications ul li {
    list-style-type: none;
    margin-bottom: 5px; }
section#homePageSection section#notifications form#clearNotificationsForm {
  margin-bottom: 10px; }
section#homePageSection section#notifications form.deleteNotificationForm span.notificationText {
  display: inline-block;
  margin-left: 1.5%; }
section#homePageSection section#notifications form.deleteNotificationForm button {
  border: none;
  color: red;
  background-color: #f2f2f2; }

/**
 * Account Page Styles
 */
section#accountSection ul {
  list-style-type: none; }
  section#accountSection ul li {
    margin-bottom: 10px; }
    section#accountSection ul li a {
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1em; }

/**
 * Profile Page Styles
 */
section#profileSection p {
  text-align: center;
  margin-bottom: 3%; }
section#profileSection a {
  text-decoration: none; }
section#profileSection span.profileHeading {
  display: block;
  font-weight: bold; }
section#profileSection span.profileContent {
  display: inline-block;
  margin-left: 5%;
  max-width: 90%;
  word-wrap: break-word; }
section#profileSection ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  section#profileSection ul li {
    margin-bottom: 10px;
    margin-left: 10px; }

/**
 * Update Profile Page Styles
 */
form#updateProfileForm img {
  display: block;
  margin: 20px auto;
  width: 200px; }
form#updateProfileForm label#removePhotoLabel {
  display: inline-block;
  margin-bottom: 10px; }
form#updateProfileForm input[type="checkbox"] {
  margin-left: 2%; }
form#updateProfileForm button:focus {
  border: solid 5px #000; }

/**
 * Change Password Page Styles
 */
/**
 * Projects Page Styles
 */
section#projectsPage a {
  text-decoration: none;
  font-weight: bold; }
section#projectsPage p#addProject {
  text-decoration: underline; }
section#projectsPage p, section#projectsPage ul {
  margin: 2.5%; }
section#projectsPage ul {
  list-style-type: none; }

/**
 * All Projects Page Styles
 */
section#allProjectsSection form#searchProjectsForm label {
  display: inline-block;
  width: 100px; }
section#allProjectsSection form#searchProjectsForm input {
  width: 50%; }
section#allProjectsSection form#searchProjectsForm div#searchButtonsDiv {
  margin: 2%; }
section#allProjectsSection a {
  text-decoration: none; }
section#allProjectsSection ul {
  list-style-type: none; }
section#allProjectsSection div#paginationDiv {
  text-align: center;
  margin-top: 5%; }
  section#allProjectsSection div#paginationDiv form#pageSelectForm {
    font-size: 1.2em; }

/**
 * Add Project Page Styles
 */
/**
 * Project Page Styles
 */
section#projectSection h3 {
  padding: 0;
  margin: 0; }
section#projectSection a {
  text-decoration: none; }
section#projectSection a#projectActionsLink {
  font-weight: bold;
  font-size: 1.2em; }
section#projectSection ul {
  list-style-type: none;
  margin-left: 1%;
  padding: 0; }
section#projectSection ul#selectViewList {
  font-size: 1.2em;
  padding-top: 0;
  margin-top: 0; }
section#projectSection span#projectActionsHeading {
  display: none; }
