@media screen and (min-width: 550px) {
  /**
   * Navigation styles
   */
  header h1 {
    font-size: 2.5em; }
  header nav {
    clear: both; }
    header nav ul li {
      display: inline-block;
      font-size: 1.6em; }

  /**
   * Login Page Styles
   */
  form#loginForm label, form#registerForm label, form#updateProfileForm label, form#changePasswordForm label, section#addEditLogSection form#addLogForm label, section#addEditLogSection form#editLogForm label, section#addEditLogSection form#deleteLogForm label, form#addProjectForm label {
    display: inline-block;
    width: 200px;
    text-align: right; }
  form#loginForm input[type="text"], form#registerForm input[type="text"], form#updateProfileForm input[type="text"], form#changePasswordForm input[type="text"], section#addEditLogSection form#addLogForm input[type="text"], section#addEditLogSection form#editLogForm input[type="text"], section#addEditLogSection form#deleteLogForm input[type="text"], form#addProjectForm input[type="text"], form#registerForm textarea, form#updateProfileForm textarea, form#changePasswordForm textarea, section#addEditLogSection form#addLogForm textarea, section#addEditLogSection form#editLogForm textarea, section#addEditLogSection form#deleteLogForm textarea, section#addEditLogSection form#addLogForm input[type="number"], section#addEditLogSection form#editLogForm input[type="number"], section#addEditLogSection form#deleteLogForm input[type="number"], form#loginForm input[type="password"], form#registerForm input[type="password"], form#updateProfileForm input[type="password"], form#changePasswordForm input[type="password"], section#addEditLogSection form#addLogForm input[type="password"], section#addEditLogSection form#editLogForm input[type="password"], section#addEditLogSection form#deleteLogForm input[type="password"], form#addProjectForm input[type="password"] {
    width: 55%; }

  /**
   * Register Page Styles
   */
  form#registerForm input[type="file"], form#updateProfileForm input[type="file"], form#changePasswordForm input[type="file"], section#addEditLogSection form#addLogForm input[type="file"], section#addEditLogSection form#editLogForm input[type="file"], section#addEditLogSection form#deleteLogForm input[type="file"] {
    width: 55%; }
  form#registerForm label, form#updateProfileForm label, form#changePasswordForm label, section#addEditLogSection form#addLogForm label, section#addEditLogSection form#editLogForm label, section#addEditLogSection form#deleteLogForm label {
    vertical-align: top; }

  /**
   * Profile Page Styles
   */
  section#profileSection span.profileHeading {
    display: inline-block;
    width: 100px;
    vertical-align: top; }
  section#profileSection span.profileContent {
    margin-left: 1%;
    max-width: 70%; }
  section#profileSection ul#projectsList {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }

  /**
   * Update Profile Page Styles
   */
  form#updateProfileForm label {
    display: inline-block;
    width: 150px; }

  /**
   * Change Password Page Styles
   */
  /**
   * Projects Page Styles
   */
  section#projectsPage ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }

  /**
   * All Projects Page Styles
   */
  section#allProjectsSection form#searchProjectsForm input {
    width: 40%; }
  section#allProjectsSection form#searchProjectsForm div#searchButtonsDiv {
    margin: 0;
    display: inline; }
  section#allProjectsSection ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }

  /**
   * Add Project Page Styles
   */
  /**
   * Project Page Styles
   */
  section#projectSection h3#viewHeading {
    display: inline-block;
    margin-top: 10px; }
  section#projectSection ul#selectViewList {
    margin-top: 10px; }
    section#projectSection ul#selectViewList li {
      display: inline-block;
      width: 150px; }
  section#projectSection p#projectActionsParagraph {
    display: none; }
  section#projectSection h2 {
    font-size: 1.2em; }
  section#projectSection span#projectActionsHeading {
    display: initial; }

  /**
   * View Project Members Page Styles
   */
  section#viewProjectMembersSection {
    margin: 0; }
    section#viewProjectMembersSection span.memberUsername {
      display: inline-block;
      width: 200px; }
    section#viewProjectMembersSection div.adminButtons {
      display: inline; }

  /**
   * Add/Edit Log Entry Page Styles
   */
  /**
   * Project Actions Page Styles
   */
  ul#selectProjectActionList li {
    display: inline-block;
    vertical-align: top;
    width: 150px; } }
@media screen and (min-width: 768px) {
  /**
   * Navigation Styles
   */
  header {
    display: block;
    overflow: auto; }
    header h1 {
      display: inline-block;
      border: none; }
    header nav ul {
      margin-top: 2.5%;
      float: right; }

  /**
   * Profile Page Styles
   */
  section#profileSection ul#projectsList {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }

  /**
   * Update Profile Page Styles
   */
  form#updateProfileForm div#photoDiv {
    margin-left: 5%;
    float: left; }
  form#updateProfileForm div#editPhotoDiv {
    margin-left: 2%;
    display: inline-block;
    margin-top: 5%; }
    form#updateProfileForm div#editPhotoDiv label {
      text-align: left; }
  form#updateProfileForm div#editProfileDiv {
    clear: both; }

  /**
   * Projects Page Styles
   */
  section#projectsPage ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }

  /**
   * All Projects Page Styles
   */
  section#allProjectsSection form#searchProjectsForm input {
    width: 25%; }
  section#allProjectsSection ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }

  /**
   * View Log Entries Page Styles
   */
  section#viewLogsSection table#smallResultsTable {
    display: none; }
  section#viewLogsSection table#bigResultsTable {
    display: table; } }
@media screen and (min-width: 900px) {
  /**
   * Update profile page styles
   */
  form#updateProfileForm img {
    width: 300px; }

  /**
   * All Projects Page Styles
   */
  section#allProjectsSection form#searchProjectsForm input {
    width: 20%; } }
