@media screen and (min-width: 500px) {
  /**
   * Navigation styles
   */
  header h1 {
    font-size: 2.5em;
    display: inline-block;
    border: none; }
  header p#headerGreeting {
    display: inline-block;
    float: right;
    padding-bottom: 5%;
    padding-right: 2.5%; }
  header nav {
    clear: both; }
    header nav ul li {
      display: inline-block;
      font-size: 1.6em; }

  /**
   * Login Page Styles
   */
  form#loginForm, form#registerForm {
    text-align: center; }
    form#loginForm label, form#registerForm label {
      display: inline-block;
      width: 100px; }
    form#loginForm input[type="text"], form#registerForm input[type="text"], form#registerForm textarea, form#loginForm input[type="password"], form#registerForm input[type="password"] {
      width: 40%; }

  /**
   * Register Page Styles
   */
  form#registerForm input[type="file"] {
    width: 40%; }
  form#registerForm label {
    vertical-align: top; } }
@media screen and (min-width: 660px) {
  /**
   * Navigation Styles
   */
  header {
    overflow: auto;
    position: relative; }
    header h1 {
      border: none;
      display: inline-block;
      float: left;
      position: absolute;
      bottom: 0; }
    header nav ul {
      float: right;
      position: absolute;
      bottom: 0;
      right: 0; } }
